@media screen and (max-width: 500px) {
  .center-container {
    flex-direction: column-reverse;
  }

  .meeting-image {
    height: 30vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-image: url(images/image-header-mobile.jpg);
  }

  .information-container {
    text-align: center;
    width: 100%;
    margin: 10% 0 10% 0;
  }

  .title-stats-preview {
    font-size: 1.6rem;
  }

  tbody {
    display: grid;
  }
}
