@media screen and (max-width: 500px) {
  .center-container {
    flex-direction: column-reverse;
  }

  .meeting-image {
    height: 30vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-image: url(images/image-header-mobile.jpg);
  }

  .information-container {
    text-align: center;
    width: 100%;
    margin: 10% 0 10% 0;
  }

  .title-stats-preview {
    font-size: 1.6rem;
  }

  .info-stats {
    margin: auto;
  }

  .description,
  .title-stats-preview {
    margin: 3% 2% 3% 2%;
  }

  .main-info {
    grid-template-rows: repeat(auto-fit, minmax(40px, 0));
    grid-template-columns: repeat(auto-fit, minmax(100px, 0));
    gap: 3px;
  }

  #companies {
    grid-row: 2 / 3;
  }

  #stats-templates {
    grid-row: 3 / 4;
  }

  #templates {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  #stats-queries {
    grid-row: 6 / 7;
  }

  #queries {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}
